<div class="form-container">
    <form action="/mean_square" method="post">
        <div class="form-group">
            <label for="seed">Semilla</label>
            <input type="number" min="1" name="seed" id="seed">
        </div>
        <div class="form-group">
            <label for="k">k</label>
            <input type="number" min="1" name="k" id="k">
        </div>
        <div class="form-group">
            <label for="limit">Cantidad</label>
            <input type="number" min="1" name="limit" id="limit">
        </div>
        <button type="submit" class="btn">Obtener</button>
    </form>
</div>