<div class="form-container">
    <form action="/multiplicative_congruence" method="post">
        <div class="row-input">
            <div class="form-group">
                <label for="x0">x0</label>
                <input type="number" min="1" name="x0" id="x0">
            </div>
            <div class="form-group">
                <label for="t">t</label>
                <input type="number" min="1" name="t" id="t">
            </div>
        </div>
        <div class="row-input">
            <div class="form-group">
                <label for="d">d</label>
                <input type="number" min="1" name="d" id="d">
            </div>
            <div class="form-group">
                <label for="limit">Cantidad</label>
                <input type="number" min="1" name="limit" id="limit">
            </div>
        </div>
        <button type="submit" class="btn">Obtener</button>
    </form>
</div>