<div class="form-container">
    <form action="/normal_distribution" method="post">
        <div class="form-group">
            <label for="mu">Media</label>
            <input type="number" min="1" name="mu" id="mu">
        </div>
        <div class="form-group">
            <label for="sigma">Desviación</label>
            <input type="number" min="1" name="sigma" id="sigma">
        </div>
        <div class="form-group">
            <label for="limit">Cantidad</label>
            <input type="number" min="1" name="limit" id="limit">
        </div>
        <button type="submit" class="btn">Obtener</button>
    </form>
</div>