<div class="form-container">
    <form action="/uniform_distribution" method="post">
        <div class="form-group">
            <label for="max">Máximo</label>
            <input type="number" min="1" name="max" id="max">
        </div>
        <div class="form-group">
            <label for="min">Mínimo</label>
            <input type="number" min="1" name="min" id="min">
        </div>
        <div class="form-group">
            <label for="limit">Cantidad</label>
            <input type="number" min="1" name="limit" id="limit">
        </div>
        <button type="submit" class="btn">Obtener</button>
    </form>
</div>